/* #title-bar {
    width: auto;
} */

.dashboard {
    font-size: 40px;
}

#sidebar {
    background-color: whitesmoke;   

}

#search-line {
    margin-left: 15px;
}

.search-form {
    margin-left: 1rem;
}

/* #weather-container {
    padding-right: 20px;
} */

.card {
    width: 90%;
    /* margin-top: 1rem; */
}

#clear-button {
    margin-top: 20px;
    margin-left: 20px;
    width: 100px;
}

.futurecast {
    margin-right: 30px;
}

#future-header {
    margin-top: 10px;
    text-align: center;
}

.future-data {
    padding: 0;
}