/* Title navbar styles */

.dashboard {
  font-size: 40px;
}


/* Sidebar styles */
#sidebar {
  background-color: whitesmoke;
}

#search-line {
  margin-left: 15px;
}

.search-form {
  margin-left: 1rem;
}

#clear-button {
  margin-top: 20px;
  margin-left: 20px;
  width: 100px;
}

/* Main forecast container styles */
.col-1 {
  margin-right: -7%;
}

.card {
  width: 100%;
  margin-top: 1rem;
}

/* Future forecast styles */
#five-day-title {
    margin-top: 20px;
    margin-bottom: -10px;
}

.futurecast {
  margin-right: 30px;
}

#future-header {
  margin-top: 10px;
}

.future-data {
  padding: 0;
}
